
  body, html
  {
    height: 100%;
    font-family: Verdana, sans-serif;
  }

  .jumbotron
  {
    text-align: center;
    background-color: #b2ef8c;
  }

  .form-group.required .control-label:before 
  {
    content:"*";
    color:red;
  }

    