  body, html
  {
  height: 100%;
  font-family: Ubuntu-Regular, sans-serif;
  }

  button {
	outline: none !important;
	border: none;
	background: transparent;
	}

	button:hover {
	cursor: pointer;
	}

	img
	{
	border-radius: 50%;
	}
	.container
	{
	width: 100%;
  	margin: 0 auto;
	}

  	.login { 
    width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
	}

	.login-2
	{
	width: 390px;
  	border-radius: 40px;
  	overflow: hidden;
  	padding-top: 30px;
  	padding-bottom: 50px;

  	background: #86e577;
	}

	.title-login
	{
  	line-height: 1.2;
  	text-align: center;
  	
  	padding-bottom: 25px;
  	display: block;
	}

	.form-horizontal
	{
	width: 100%;
  	border-radius: 10px;
	}

	.form-group-button
	{
	width: 100%;
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 32px;
	}

	.button
	{
	font-family: Ubuntu-Bold;
  	font-size: 18px;
  	color: #fff;
  	line-height: 1.2;
  	text-transform: uppercase;

  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 0 20px;
  	min-width: 160px;
  	height: 42px;
  	border-radius: 21px;

  	background: black;
  	position: relative;
  	z-index: 1;

  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
	}

	.chkbox
	{
	margin-left: 60px;
	}